* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1280px;
  margin: 0 auto;

  /* fluid typography */
  font-size: calc(14px + (24 - 14) * (100vw - 300px) / (1600 - 300));
}

/* row container with wrappable items */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Header */
header {
  text-align: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  background-image: url(../images/choc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1 {
  font-size: 3em;
  margin: 0;
}

header div {
  align-self: center;
  min-width: 50%;
  padding: 15px;
  margin: 10px;
  color: #000;
  font-weight: bold;
  background-color: rgba(253, 252, 206, 0.85);
  border-radius: 3px 40px 3px 40px;
}

header div h1::first-letter {
  font-size: 200%;
  line-height: 0.5;
  color: #3D775E;
}

.logo {
  display: inline-block;
  margin-left: -.1em;
  color: rgb(94, 40, 94);
}


/* Navigation */
nav {
  background-color: #413D77;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav a {
  color: #FFF;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

nav a.current {
  background-color: #3D775E;
}

nav a:hover {
  background-color: #E9F6C2;
  color: #000;
}

nav a:active {
  background-color: #FF9D00;
}



/* Sidebar column */
.side-col {
  /* set this flex item with a 30% width */
  flex-basis: 30%;
  padding: 20px;
  background-color: rgb(248, 255, 232);
  background: rgba(253, 252, 206, 0.85);
}

.main-col {
  /* set this flex item with a 70% width */
  display: flex;
  flex-basis: 70%;
  padding: 20px;
  background-color: #FFF;
}

main h2 {
  text-align: center;
}

.middle-col {
  padding-right: 2rem;
  padding-left: 1rem;
}

.right-col {
  flex-basis: 50%;
  width: 350px;
  padding: 20px;
  background-color: rgb(248, 255, 232);
  background: rgba(253, 252, 206, 0.85);
}

.side-col img,
.right-col img,
main img {
  width: 100%;
}

/* INFO */
main.info {
  padding: 0 50px;
  margin-bottom: 2%;
}

.group div.row {
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.group a:hover {
  background-color: #5e285e;
  color: #e9f6c2;
  border-radius: 3px;
  padding: 0 2px;
}

.group a:active {
  background-color: #FF9D00;
}

/* Footer */
footer {
  padding: 5px;
  text-align: center;
  background-color: #E3F5AB;
}

/* Parallax effect */
.parallax {
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax {
  background-image: url(../images/parallex.jpg);
}


@media screen and (max-width: 168px) {
  .row {
    flex-direction: column;
  }

  nav.row {
    flex-direction: row;
  }

  .side-col {
    order: 5;
  }

  .right-col {
    order: 5;
  }

  header {
    min-height: 200px;
  }

}